html, body {
  height: 100%;
}

body {
  background-color: #B6D6CC;
}

.farSide {
  text-align: right;
}

html[dir="RTL"] .farSide {
  text-align: left;
}

h1 {
  font-size: 24pt;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
  color: #D95D39;
}

h4  {
  color: #422040;
}

.section {
  margin: 35px;
}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.blockly_workspace{
  
}

.content {
  background-color: #74A4BC;
}

/* Buttons */
button {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: large;
  background-color: #eee;
  color: #000;
}
button.primary {
  border: 1px solid #dd4b39;
  background-color: #dd4b39;
  color: #fff;
}
button.primary>img {
  opacity: 1;
}
button>img {
  opacity: 0.6;
  vertical-align: text-bottom;
}
button:hover>img {
  opacity: 1;
}
button:active {
  border: 1px solid #888 !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
button.disabled:hover>img {
  opacity: 0.6;
}
button.disabled {
  display: none;
}
button.notext {
  font-size: 10%;
}


/* Sprited icons. */
.icon21 {
  height: 21px;
  width: 21px;
  background-image: url(icons.png);
}
.trash {
  background-position: 0px 0px;
}
.link {
  background-position: -21px 0px;
}
.run {
  background-position: -42px 0px;
}
